*{					
	margin: 0;
	padding: 0;
}

a{							
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}
a:active{
	color: green;
}


h1{
	text-align:center;
	background-color: springgreen;
	color: papayawhip;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
	padding: 50px;
		}

h2{
	text-align:center;
		}

h3{
	text-align:center;
	background-color: lightgoldenrodyellow;
	color: forestgreen;
	padding: 10px;
		}



body{
	background-color: lightgoldenrodyellow;
	font-family: Courier New, Courier, monospace;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.6em;
	margin: 0;
		}


.container{
	width: 80%;
	margin: auto;
}

.box-1{
	text-align: center;
	background-color: lightcoral;
	color: #ffffff;
	/*border-right: 5px green solid;
	border-left: 5px green solid;
	border-top: 5px green solid;
	border-bottom: 5px green solid;*/
	border: 5px lightgreen solid;
	/*border-top-style: dotted;*/

	padding: 20px;
	margin: 20px 0;
}

.box-1 h2{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.5em;
	padding-bottom: 20px;
	color: blue;
}

.categories {
	width: 90%;
	margin: auto;
	border: 3px dotted #ccc;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;

}
.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	

}
.categories li{
	padding-bottom: 5px;
	border-bottom: 1px dotted;
	list-style-image: url('images/check.jpg');
	
}

.container-3{
	width: 90%;
	margin: auto;
}
.box-3{
	text-align: left;
	background-color: lightsteelblue;
	color:black;
	border: 5px black solid;

	padding: 30px;
	margin: 30px 0;
}

.box-3 h2{
	padding-bottom: 20px;
}
.image-container{
	width: 90%;
	margin: auto;
}
.image-box{
	text-align: left;
	background-color: lightgreen;
	color:black;
	border: 5px black solid;

	padding: 30px;
	margin: 30px 0;
}
.image-box h2{
	padding-bottom: 20px;
}

.main-footer{
	text-align: center;
}