*{					
	margin: 0;
	padding: 0;
}

a{							
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}
a:active{
	color: green;
}


h1{
	border: 0.5px solid black;
	margin: 0.5px;
	text-align:center;
	color: black;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
	padding: 50px;
		}

h2{
	text-align:center;
	padding-bottom: 10px;
		}

h3{
	text-align:center;
	color: forestgreen;
	padding: 10px;
		}



body{
	background-image: url('images/rbg.jpg');
	background-color: lightgoldenrodyellow;
	font-family: Courier New, Courier, monospace;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.6em;
	margin: 0;
		}


.container{
	width: 80%;
	margin: auto;
}
.button{
	color: black ;
	font-weight: 1000;
	padding: 15px 10px;
	border: 2px solid black;
	
}
.button-align{
	position: absolute;
	left: 50%;
}
.button:hover{
	background-color: paleturquoise;
	color: white;
}

.clr{
	clear: both;
}
.box-1{
	text-align: center;
	color: black;
	/*border-right: 5px green solid;
	border-left: 5px green solid;
	border-top: 5px green solid;
	border-bottom: 5px green solid;*/
	border: 3px dotted #ccc;
	/*border-top-style: dotted;*/

	padding: 20px;
	margin: 20px 0;
}

.box-1 h2{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.5em;
	padding-bottom: 20px;
	color: darkblue;
}

.Post{
	padding: 20px;
}

.categories {
	width: 90%;
	margin: auto;
	border: 3px dotted #ccc;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;

}
.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	

}
.categories li{
	padding-bottom: 5px;
	border-bottom: 1px dotted;
	list-style-image: url('images/check.jpg');
	
}

.my-form {
	padding: 50px;
}
.my-form form-group {
	padding-bottom: 15px;
}
.my-form label{
	display: block;
}
.my-form input[type="text"], .my-form textarea, .my-form input[type="number"]{
	padding: 10px;
	width: 100%;
}

.image-box{
	text-align: left;
	background-color: lightgreen;
	color:black;
	border: 5px black solid;

	padding: 30px;
	margin: 30px 0;
}
.image-box h2{
	padding-bottom: 20px;
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid black;
	padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float: left;
	width: 30%;
	padding: 1px;
	box-sizing: border-box;

}
#side-block{
	float: right;
	width: 70%;
	box-sizing: border-box;
}

.fix-me {
	position:fixed;
	right: 0px;
	top: 40px;
	padding: 5px;

}



/*.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid black;
	margin: 30px;
	position: relative;
	background-image: url('images/bg.jpg');
}

.p-box h2{
	position: absolute;
	left: 500px;
	top: 100px;
}

.p-box h3{
	position: absolute;
	right: 500px;
	bottom: 400px;
}

.my-list li: nth-child(5){;
	background: yellow;
*/

.main-footer{
	text-align: center;
	font-size: small;
}